
.panel-default > .panel-leftheading
{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    height:20%;

}

.panel-primary > .panel-leftheading
{
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
    height: 13%;

}

.panel-success > .panel-leftheading
{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    height: 25%;

}

.panel-warning > .panel-leftheading
{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    height: 15%;
}

.panel-danger > .panel-leftheading
{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    height: 15%;

}

.panel-leftheading
{
    width: 42px;
    padding: 10px 15px;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    float: left;
    height: 50%;
    position: absolute;
}

.panel-lefttitle
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 15px;
    font-size: 16px;
    color: inherit;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
    position: absolute;
    white-space: nowrap;
}

.panel-rightbody
{
    float: left;
    margin-left: 45px;
    padding: 15px;
}

div#cabecera{
  height: 100px;
}
div#contenedor{
  background-color: #d3fbf5;
}
.btn-default {
    color: #00a5ff;
    background-color: #EAE6E6;
    border-color: #ccc;
    margin-top: 30px;
    margin-left: 20px;
  }
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 40px;
    margin-bottom: 10px;
}
h2#carousel{
  color:#B2EBED;
  text-shadow: 3px 1px 3px #000,-3px -1px 3px #000;
  transform: translate3d(0px, 0px, 0px);

}
p#carousel{

  text-shadow: -1px 0 black, 0 1px black,1px 0 black, 0 -1px black;
  color : #D8EBEC;
}
.h2,h2{
  color:# #d5ceea  ;
  font-size: 65px;
}
.h4,h4{
  color: #263241;
}
div#micabecera{
  font-family: "goudy-bookletter-1911-1", "goudy-bookletter-1911-2", "Baskerville", "Georgia", serif;

	border-color: rgba(21,11,11,0.2);
	border-width: 50px;

  margin-top: 25px;
	margin-right: 0px ;
	margin-bottom: 30px;
	margin-left: 0px;
  padding:20px;
  z-index: 2;
  color: rgba(0, 0, 0, 0.6);;
  font-size: 16px;
	box-shadow: 2px 2px 20px white;/*Derecha - abajo - transparencia*/
	background: linear-gradient(to bottom,#D9E2F3,#0E1C33);/*gradiente linear (to bottom : de arriba abajo,color arriba,color abajo)*/

}
ul,ol{
  margin-left: -16px;
}
div#micabecera a:hover, a:focus {
    color: #FFF;
    text-decoration: underline;
}
div#micabecera a{
  color :  #dfe3ec ;
}
div#micabecera p{
  color:#f2bd79;
  padding: 35px;
}
a {
  color : #6087e6;;
}

#logo_cabecera{
  margin: [0 10px 0 10px];
  width: 300px;

}

#etsit{
  margin:auto;
  float: left;
  width: 900px;
}

div.btn-group{
  width: 200px;
  margin: auto;
  float: left;
}
